/** Only for index.html **/

.site-header{
    color: #fff;
    background: #137;
}

.site-header #site-header-brand {
    color: #fff;
}

.site-header .site-header-nav-item {
    color: #fff;
}

.site-header a:hover {
    color: #9acfea;
}

.jumbotron {
    background-image:url(https://raw.githubusercontent.com/Z-Beatles/Z-Beatles.github.io/master/assets/images/main_bg.jpg) ;
    background-size:100% 100%;
    
.site-header.site-header-nav-scrolled a {
    color: #2e2e2e;
}

.site-header.site-header-nav-scrolled #site-header-brand {
    color: #2e2e2e !important;
}

.site-header.site-header-nav-scrolled a:hover {
    color: #4183c4;
}
